<!-- Preloader -->
<div #preloader class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->

<frontend-navigation></frontend-navigation>
<router-outlet></router-outlet>
<router-outlet name="cv"></router-outlet>
<router-outlet name="work"></router-outlet>
<router-outlet name="skill"></router-outlet>
<!-- <frontend-home></frontend-home>
<frontend-cv></frontend-cv>
<frontend-work></frontend-work>
<frontend-skill></frontend-skill> -->
<frontend-social></frontend-social>
<frontend-footer></frontend-footer>
