input {
  file {
    type => "%TYPE%"
    # Logstash insists on absolute paths...
    path => "%PATH%"
    start_position => "beginning"
  }
}
filter{
    json{
        source => "message"
    }
}
output {
  if [type] == "%TYPE%" {

    # Sending properly parsed log events to elasticsearch
    elasticsearch {
      hosts => [ "127.0.0.1" ]
      # user => "%SECURITY_USER%"
      # password => "%SECURITY_PASSWORD%"
    }
  }
}
