<div id="educationwrap"></div>

<div id="content"></div>
<div class="container">
  <div class="row centered mt mb">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 ng-bind-html="'EDUCATION.HEADLINE.PRE' | translate"></h4>
      <h1 ng-bind-html="'EDUCATION.HEADLINE.TITLE' | translate"></h1>
      <h4 ng-bind-html="'EDUCATION.HEADLINE.INSTRUCTION' | translate"></h4>
    </div>
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"
        ng-bind-html="'EDUCATION.FHDW.TITLE' | translate"></h2>
      <span class="text-muted" ng-bind-html="'EDUCATION.FHDW.PRE' | translate"></span>
      <p class="lead" ng-bind-html="'EDUCATION.FHDW.CONTENT' | translate">
      <p>
    </div>
    <div class="col-md-5">
      <a href="http://www.fhdw.de/standort-paderborn.aspx" target="_blank">
        <img class="featurette-image img-responsive center-block"
        src="assets/img/fhdw.png">
      </a>
    </div>
  </div>
</div>
