<div id="headerwrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h4 ng-bind-html="'HOME.HEADLINE.ONE' | translate"></h4>
				<h1 ng-bind-html="'HOME.HEADLINE.TWO' | translate"></h1>
				<h4 ng-bind-html="'HOME.HEADLINE.THREE' | translate"></h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

<div class="container">
	<div class="row centered mt mb">
		<div class="col-lg-8 col-lg-offset-2">
			<h2 ng-bind-html="'HOME.BODY.HEADER' | translate"></h2>
			<p ng-bind-html="'HOME.BODY.P1' | translate"></p>
			<p ng-bind-html="'HOME.BODY.P2' | translate"></p>
			<p ng-bind-html="'HOME.BODY.P3' | translate"></p>
		</div>

	</div><! --/row -->
</div><! --/container -->
