<div id="headerwrap"></div>

<div class="container">
  <div class="row centered mt mb">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 ng-bind-html="'HOME.HEADLINE.PRE' | translate"></h4>
      <h1 ng-bind-html="'HOME.HEADLINE.TITLE' | translate"></h1>
      <h4 ng-bind-html="'HOME.HEADLINE.INSTRUCTION' | translate"></h4>
      <p ng-bind-html="'HOME.BODY.P1' | translate"></p>
      <p ng-bind-html="'HOME.BODY.P2' | translate"></p>
      <p ng-bind-html="'HOME.BODY.P3' | translate"></p>
    </div>
  </div>
</div>
