<div id="disclaimerwrap"></div>

<div id="content"></div>
<div class="container">
	<div class="row centered mt mb">
		<div class="col-lg-8 col-lg-offset-2">
			<h4 ng-bind-html="'DISCLAIMER.HEADLINE.PRE' | translate"></h4>
			<h1 ng-bind-html="'DISCLAIMER.HEADLINE.TITLE' | translate"></h1>
			<h4 ng-bind-html="'DISCLAIMER.HEADLINE.INSTRUCTION' | translate"></h4>
		</div>
		<div class="col-lg-8 col-lg-offset-2" ng-repeat="disclaimer in disclaimers">
			<h4 translate="{{disclaimer.title}}"></h4>
			<p translate="{{disclaimer.text}}"></p>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
			<small ng-bind-html="'DISCLAIMER.BODY.SOURCE' | translate"></small>
		</div>
	</div>
</div>
