<snap-drawer>
    <div class=snap-menu>
        <div class="sidebar-header text-center">
            <img src=images/me.jpg class="sidebar-img img-circle">
        </div> 

        <div ng-controller="TranslateController" class="text-center">
            <img src=images/de.png ng-click="changeLanguage('de')" class="menuFlag">
            <img src=images/en.png ng-click="changeLanguage('en')" class="menuFlag">
        </div>

        <ul class=snap-ul>
            <li ng-repeat="item in menuItems" ng-class="{active: $state.includes('{{item.name}}') }">
                <a ui-sref={{item.name}} translate="{{item.text}}"></a>
            </li>
        </ul>
    </div>
</snap-drawer> 
